<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Style/home_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body_content">
    <h1 class="monospace" style="color: goldenrod;"><strong>"Phone Book App"</strong></h1>
    <p style="color: black; font-style: italic;" ><strong>Be Updated here !</strong></p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"><br>
    <img style="float: right; margin: 0px 0px 15px 15px;" src="Style/css/dir2.png" width="350" />
    <img style="float: left; margin: 0px 0px 15px 15px;" src="Style/css/searchicon.png" width="100" />
    <img style="float: left; margin: 0px 0px 15px 15px;" src="Style/css/searchicon.png" width="200" />
    

<ul id="myUL">
  <li><a href="#"><button type="button" class="collapsible">Shobhit</button><div class="content">
    <div class="btn-group"><br>
        <form action="edit">
            <h4 style="text-align: left;">12/12/1998</h4>
            <button type="submit">Edit</button>
            <button type="submit">Remove</button>
         </form>
    </div><br>
    <div class="userdetail">
        <div class="split left">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details"/>
              <h2>shobhit987@gmail.com</h2>
              <p><b>+91-8934542376</b></p>
            </div>
          </div>
          <div class="split right">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details" />
              <h2>shobhituz23@gmail.com</h2>
              <p><b>+91-7064565643</b></p>
            </div>
          </div>
    </div>
  </div></a></li>
  <li><a href="#"><button type="button" class="collapsible">Shubham</button><div class="content">
    <div class="btn-group"><br>
        <form action="edit">
            <h4 style="text-align: left;">12/12/1998</h4>
            <button type="submit">Edit</button>
            <button type="submit">Remove</button>
         </form>
    </div><br>
    <div class="userdetail">
        <div class="split left">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details"/>
              <h2>shubham987@gmail.com</h2>
              <p><b>+91-8967567496</b></p>
            </div>
          </div>
          <div class="split right">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details" />
              <h2>raj23@gmail.com</h2>
              <p><b>+91-7987645643</b></p>
            </div>
          </div>
    </div>
  </div></a></li>
  <li><a href="#"><button type="button" class="collapsible">Ayush</button><div class="content">
    <div class="btn-group"><br>
        <form action="edit">
            <h4 style="text-align: left;">12/12/1998</h4>
            <button type="submit">Edit</button>
            <button type="submit">Remove</button>
         </form>
    </div><br>
    <div class="userdetail">
        <div class="split left">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details"/>
              <h2>ayush987@gmail.com</h2>
              <p><b>+91-8967542376</b></p>
            </div>
          </div>
          <div class="split right">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details" />
              <h2>aymuz23@gmail.com</h2>
              <p><b>+91-7002345643</b></p>
            </div>
          </div>
    </div>
  </div></a></li>
  <li><a href="#"><button type="button" class="collapsible">Akash</button><div class="content">
    <div class="btn-group"><br>
        <form action="edit">
            <h4 style="text-align: left;">12/12/1998</h4>
            <button type="submit">Edit</button>
            <button type="submit">Remove</button>
         </form>
    </div><br>
    <div class="userdetail">
        <div class="split left">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details"/>
              <h2>akash87@gmail.com</h2>
              <p><b>+91-8967542376</b></p>
            </div>
          </div>
          <div class="split right">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details" />
              <h2>akaasmuz23@gmail.com</h2>
              <p><b>+91-7456345643</b></p>
            </div>
          </div>
    </div>
  </div></a></li>
  <li><a href="#"><button type="button" class="collapsible">Niharika</button><div class="content">
    <div class="btn-group"><br>
        <form action="edit">
            <h4 style="text-align: left;">12/12/1998</h4>
            <button type="submit">Edit</button>
            <button type="submit">Remove</button>
         </form>
    </div><br>
    <div class="userdetail">
        <div class="split left">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details"/>
              <h2>niks987@gmail.com</h2>
              <p><b>+91-6453542376</b></p>
            </div>
          </div>
          <div class="split right">
            <div class="centered">
              <img src="Style/css/card.png" alt="User Details" />
              <h2>NIKSz23@gmail.com</h2>
              <p><b>+91-7003425643</b></p>
            </div>
          </div>
    </div>
  </div></a></li>
</ul>
<a href="create"><div style="text-align: center"><img src="Style/css/add.png" width="60" alt="Create New Contact" /></div></a>
<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="/">1</a>
        <a href="create">2</a>
        <a href="about">3</a>
        <a href="#">&raquo;</a>
      </div>
</body>
</html>